@import url("./tailwind-reset.css");
@import url("m3-svelte/misc/styles.css");
@import url("m3-svelte/misc/recommended-styles.css");

/* Extracted from M3 */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

/* Other styles */
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1") format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterVariable-Italic.woff2?v=4.1") format("woff2");
}
:root {
  color: rgb(var(--m3-scheme-on-background));
  font-feature-settings: "cv11";
  .tnum {
    font-feature-settings: "cv11", "tnum";
  }
  interpolate-size: allow-keywords;
  --m3-font: Inter Variable, system-ui, sans-serif;
}
::selection {
  background-color: rgb(var(--m3-scheme-tertiary-container));
  color: rgb(var(--m3-scheme-on-tertiary-container));
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100dvh;
  box-sizing: border-box;
  overflow: clip auto;
}
button,
select {
  &:not(:disabled) {
    cursor: pointer;
  }
}
dialog {
  margin: auto;
}
::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.2s;
}
